{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">

        <div class="card shadow border-0">
            <div class="card-body p-4">

                <h2 class="mb-4">Login</h2>

                <form method="POST">

                    <div class="mb-3">
                        <label>Email</label>
                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            required>
                    </div>

                    <div class="mb-3">
                        <label>Password</label>
                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            required>
                    </div>

                    <button
                        type="submit"
                        class="btn btn-success w-100">
                        Login
                    </button>

                </form>

                <hr>

                <a
                    href="{{ url_for('auth.register', role='trekker') }}"
                    class="btn btn-outline-primary w-100 mb-2">
                    Register as Trekker
                </a>

                <a
                    href="{{ url_for('auth.register', role='staff') }}"
                    class="btn btn-outline-secondary w-100">
                    Register as Staff
                </a>

            </div>
        </div>

    </div>
</div>

{% endblock %}